<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>smolink-URL Shortener</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
</head>

<body>
    <section class="section">
        <div class="container">
            <form method="POST" action="{{ url_for('short.add_link') }}">
                <div class="field">
                    <label class="label">Original URL</label>
                    <div class="control">
                        {% if original_url %}
                        <input class="input" type="url" name="original_url" value = "{{original_url}}" pattern="(?:http|ftp)[s]?://(?:[a-zA-Z]|[0-9]|[$-_@.&+]|[!*\(\),]|(?:%[0-9a-fA-F][0-9a-fA-F]))+" required>
                        {% else %}
                        <input class="input" type="url" name="original_url" pattern="(?:http|ftp)[s]?://(?:[a-zA-Z]|[0-9]|[$-_@.&+]|[!*\(\),]|(?:%[0-9a-fA-F][0-9a-fA-F]))+" required>
                        {% endif %}
                    </div>
                </div>
                <div class="field">
                    <label class="label">Custom personalized URL ending(optional)</label>
                    <div class="control">
                        {% if custom_end %}
                        <input class="input" type="text" name="custom_end" value = "{{custom_end}}">
                        {% else %}
                        <input class="input" type="text" name="custom_end">
                        {% endif %}
                    </div>
                    {% if message %}
                    <p class="help is-danger">{{message}}</p>
                    {% endif %}
                </div>
                <div class="control">
                    <button type = "submit" class="button is-info">Shorten</button>
                </div>
                
            </form>
        </div>
    </section>
</body>

</html>
