<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Link Added: URL Shortener</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
</head>

<body>
    <section class="section">
        <div class="container">
            <div class="field">
                <label class="label">Original URL</label>
                <div class="control">
                    <input class="input" type="text" name="original_url" value="{{ original_url }}" readonly>
                </div>
            </div>
            <div class="field">
                <label class="label">Short URL</label>
                <div class="control">
                    <input id="short-url" class="input" type="text" name="original_url" value="{{ url_for('short.redirect_to_url', short_url = new_link, _external = True) }}" readonly>
                </div>
                <div class="control">
                    <button id="copy-btn" type="submit" class="button is-primary is-outlined" onclick="CopyToClipboard();">Copy Link!</button>
                </div>
            </div>
            <form action="{{ url_for('short.index') }}">
                <div class="field">
                    <div class="control">
                         <button type = "submit" class="button is-info">Short new URL</button>
                    </div>
                </div>
            </form>
                
        </div>
    </section>
    <script>
        function CopyToClipboard(){
            var elem = document.querySelector('#short-url');
            elem.select();
            document.execCommand("copy");
            document.getSelection().collapseToEnd();
            elem = document.querySelector('#copy-btn');
            elem.innerHTML = "Copied!";
            elem.classList.remove('is-outlined');
            setTimeout(function() {
                elem.innerHTML = "Copy Link!";
                
                elem.classList.add('is-outlined');
                }, 2000);
            }
    </script>
</body>

</html>
